<div class="container-fluid pd-0">
    <div class="row faq-image">
        <div class="col-lg-12 faq-text">
            <h1 >
                 Frequently Asked Questions
            </h1>
        </div>
    </div>
</div>


<div class="container-fluid  styles">


    <ul class="info">
        <li> <b>How do I let my child participate? </b> 
            <p>
                Simply fill up the online registration form on our website. On submitting your details, you will receive an automated email asking you to pay Registration Fee. Once the payment is done, your registration will be complete.
            </p>
        </li>
        <li> <b>When do I pay the Registration fee? </b>
            <p>
                You need to pay the fee within 24 hours of filling up the form.
            </p>
        </li>
        <li> <b>I have filled the form but not paid the fee. Can I pay now? </b>
            <p>
                Yes. You can pay the fee now. To pay using a debit/credit card or net banking. 

            </p>
        </li>
        <li> <b> Can I pay through cash?</b>
            <p>
                No. Every transaction has to be recorded for your safety and ours. Hence, cash payments are not accepted.
        </li>
        <li> <b>When do I receive the information regarding Auditions?</b>
            <p>
                Once your registration is complete, you will automatically receive all details on your registered email id.
            </p>
        </li>
        <li><b> Is English language compulsory?</b>
            <p>
                No. It is not mandatory. You can speak in any language you prefer – English / Hindi / Punjabi etc. There are no scores for language.
            </p>
        </li>
        <li>  <b> How do the Auditions take place?</b>
            <p>
                Auditions will be conducted on 1-on-1 basis. There will be 2 rounds, a semi finale and finale. Other details will be mailed to you once you get your child registered.
            </p>
        </li>
        <li> <b>Where will the Auditions be in my state?</b>
            <p>
                Auditions will be conducted in the capital city – Delhi. The details like venue, timing, format etc will be sent to your email once you complete your registration.
            </p>
        </li>

        <li><b style="font-style: italic;
            font-size: x-large;
            color: #440047;">If you still have any queries then mail them to us, our team is always there for your help.</b></li>
    </ul>


</div>


 <!------------------------- Questions -------------------->
<!-- 
 <div class="container-fluid">
    <div class="row back">
        <div class="col-md-9 ">
           <p class="lead p-4">
            Let your dreams become a reality.... Hurry up ‘n’ Mesmerize the world !!
           </p>
        </div>
        <div class="col-md-3 pt-4 ">
            <a class="btn img btn-lg " routerLink="/register" role="button">Register Now</a>
        </div>
    </div>
    </div> -->