<div class="container-fluid top" >
    <span> <i class="material-icons icon">contact_mail</i>info@7Scales.in</span> |
    <span><i class="material-icons icon">phone</i>Call Us: +9100000000000</span>
      </div>
    
      
      <nav class="navbar navbar-expand-md bg navbar-dark  sticky-top">
          <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home"> <img src="../assets/images/Logo.jpg" width= "120px" height= "50px"
          ></a>
            <button class="navbar-toggler"  style="background-color: #440047;" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar" >
              <ul class="navbar-nav nav-tabs list " id="Colors">
                <li class="nav-item ani">
                  <a class="nav-link alignment" routerLink="/home" > <i class="material-icons">home</i>Home</a>
                </li>
                <li class="nav-item ani">
                  <a class="nav-link alignment" routerLink="/about" ><i class="material-icons">bookmark</i>About The Contest</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span class="alignment"><i class="material-icons ">person</i>Eligibity Criteria</span> 
                  </a>
                  <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item ani"  routerLink="/eligibiltydance">Baby Dance Pageant</a>
                    <a class="dropdown-item ani" routerLink="/eligibiltybaby">Baby Pageant</a>
                    <a class="dropdown-item ani" routerLink="/eligibiltybeauty">Beauty Pageant</a>
                    <!-- <a class="dropdown-item" routerLink="/commercial">Commercial Designers</a> -->
                    </div>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link alignment" routerLink="/eligibilty" ><i class="material-icons">person</i>Eligibity Criteria</a>
                </li>     -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span class="alignment"><i class="material-icons" >date_range</i>Registration</span> 
                  </a>
                  <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item ani"  routerLink="/register">Baby Dance Pageant</a>
                    <a class="dropdown-item ani" routerLink="/RegisterBaby">Baby Pageant</a>
                    <a class="dropdown-item ani" routerLink="/Registerbeauty">Beauty Pageant</a>
                    <!-- <a class="dropdown-item" routerLink="/commercial">Commercial Designers</a> -->
                    </div>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link alignment" routerLink="/register"><i class="material-icons" >date_range</i>Registration</a>
                  </li>  -->
                  <li class="nav-item ani">
                    <a class="nav-link alignment" routerLink="/gallery"><i class="material-icons" >collections</i>Gallery</a>
                  </li> 
                  <li class="nav-item ani">
                    <a class="nav-link alignment" routerLink="/contestants"><i class="material-icons" >group</i>Contestants</a>
                  </li> 
                  <li class="nav-item ani">
                    <a class="nav-link alignment" routerLink="/Faq"><i class="material-icons">description</i>FAQ</a>
                  </li> 
              </ul>
              <!-- <form class="form-inline md-form mr-auto">
                <input class="form-control mr-sm-2 search" type="text" placeholder="Search" aria-label="Search">
                <button mdbBtn size="sm" color="elegant" rounded="true" class="my-0 waves-light btnn" mdbWavesEffect type="submit">Search</button>
              </form> -->
            </div>  
          </div>
      
      </nav>
    
