<!-- <form class="form">


    <label for="category">category:</label>
    <select id="category" name="category" >
        <option value="category" disabled>Select One category</option>
        <option value="Divalicious">Divalicious(Regular Size)</option>
        <option value="Curvalicious">Curvalicious(Plus Size)</option>
    </select>


    <label for="Marital">Marital Status:</label>
    <select id="Marital" name="Marital">
        <option value="Marital" disabled>Select One category</option>
        <option value="Married">Married</option>
        <option value="Widow">Widow</option>
        <option value="Divorced">Divorced</option>
        <option value="Separated">Separated</option>
        <option value="Single-Parent">Single-Parent</option>
    </select>

    <br><br>
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="fname" placeholder="First Name">

    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="lname" placeholder="Last Name">

    <br><br>
    <label for="birthdate">Your DOB</label>
    <input type="date" id="birthdate" name="birthdate">


    <br><br>

    <label for=height> Height</label>
    <select id="height" name=height>
        <option value="height" disabled>Your Height (in feet) </option>
        <option value="5.0">5.0 </option>
        <option value="5.1">5.1 </option>
        <option value="5.2">5.2 </option>
        <option value="5.3">5.3 </option>
        <option value="5.4">5.4 </option>
        <option value="5.5 ">5.5 </option>
        <option value="5.6 ">5.6 </option>
        <option value="5.7">5.7 </option>
        <option value="5.8">5.8 </option>
        <option value="5.9">5.9 </option>
        <option value="5.10">5.10 </option>
        <option value="5.11 & above">5.11 & Above </option>
    </select>
    <br>
    <label for="Number"></label>
    <input type="number" id="Number" name="Number" placeholder="Mobile Number">
    <label for="Email"></label>
    <input type="email" id="Email" name="Email" placeholder="Email Address">
    <br><br>
    <input type="text" id="address" name="address" placeholder="Present Address" >
     <br><br>
    <label for="city"></label>
    <input type="text" id="city" name="city" placeholder="Your city">
    <label for="pincode"></label>
    <input type="number" id="pincode" name="pincode" placeholder="Pincode">

    <br>
    <label for="myfile">Select files:</label>
    <input type="file" id="myfile" name="myfile" multiple>

    <br><br>

</form> -->





<div class="container-fluid">

    <form [formGroup]='Registrationbeautyform' method="post" action="form.php" class="style">
        <div class="card bg-custom mt-3 mb-3">
            <div class="card-heading ">
                <h3 class="card-title m-2 movement " id="move">
                    She Believed She Could, So She Did.
                </h3>
            </div>
        </div>

        <div class="card-body border-custom">

                    <!-- <div class="form-group">
                        <label for="name" class="form-label"><b> category* </b> </label>
                        <select class="custom-select" formControlName="category">
                            <option value="" disabled>Select One category</option>
                            <option value="Divalicious">Petite,6 and under, 7-8 years old</option>
                            <option value="Curvalicious">Junior,9-10 years old, 11-12 years old</option>
                            <option value="Curvalicious">Teen, 13-15 years old</option>
                        </select>
                    </div> -->
                   <div class="row">
                       <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="name" class="form-label"><b> Category* </b></label>
                            <select class="custom-select" name="category" formControlName="category" >
                                <option value="" disabled>Select One Category</option>
                                <option value="Divalicious">Divalicious(Regular Size)</option>
                                <option value="Curvalicious">Curvalicious(Plus Size)</option>
                            </select>
                            </div>

                       </div>
                       <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="name" class="form-label">
                                <b> Marital Status* </b> </label>
                            <select class="custom-select" name="marital-status" formControlName="marital">
                                <option value="" disabled>Select One Category</option>
                                <option value="Married">Married</option>
                                <option value="Widow">Widow</option>
                                <option value="Divorced">Divorced</option>
                                <option value="Separated">Separated</option>
                                <option value="Single-Parent">Single-Parent</option>
                            </select>
                        </div>
                    </div>
                   </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="name" class="form-label">First Name</label>
                        <input type="text" class="form-control" name="name" formControlName='fname' required
                            placeholder="Enter Your Name" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8)
                           ">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" name="last-name" formControlName='lname' required
                            placeholder="Enter Your Name" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8)
                            ">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="dob"> Date Of Birth</label>
                        <input name="dob" value="dob" formControlName='dob' class="form-control" type="date" required
                            placeholder="">
                        <span *ngIf="Registrationbeautyform.controls.dob.hasError('required')" class="invalid-feedback">
                            Filled can't be empty!!!!!!!
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" formControlName="age" value="age" class="form-control" name="age" min="20"
                            max="45" required>
                    </div>

                </div>
            </div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label for=height> Height</label>
            <select class="custom-select" formControlName="height" class="form-control" name="height">
                <option value="" disabled>Your Height (in feet) </option>
                <option value="5.0">5.0 </option>
                <option value="5.1">5.1 </option>
                <option value="5.2">5.2 </option>
                <option value="5.3">5.3 </option>
                <option value="5.4">5.4 </option>
                <option value="5.5 ">5.5 </option>
                <option value="5.6 ">5.6 </option>
                <option value="5.7">5.7 </option>
                <option value="5.8">5.8 </option>
                <option value="5.9">5.9 </option>
                <option value="5.10">5.10 </option>
                <option value="5.11 & above">5.11 & Above </option>
            </select>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label for="Landline" class="form-label">Landline N.</label>
            <input class="form-control" name="landline" formControlName='landline' value="landline" required
                placeholder="landline number" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46)"
                [ngClass]=" Registrationbeautyform.controls.landline.invalid && Registrationbeautyform.controls.landline.dirty ? 'is-invalid' :'valid'"
                pattern=".{11,11}">
            <div *ngIf="Registrationbeautyform.controls.landline.dirty && Registrationbeautyform.controls.landline.invalid"
                class="invalid-feedback">
                <span *ngIf="Registrationbeautyform.controls.landline.hasError('required')">
                    Phone number required!!!!!
                </span>
            </div>
        </div>
    </div>
</div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="Loginusername" class="form-label">Enter Email Id</label>
                        <input type="text" name="email" class="form-control" autocomplete="username" formControlName='email'
                            placeholder="Enter Your Email" required
                            [ngClass]=" Registrationbeautyform.controls.email.invalid && Registrationbeautyform.controls.email.dirty ? 'is-invalid' :'valid'">
                        <div *ngIf="Registrationbeautyform.controls.email.dirty && Registrationbeautyform.controls.email.invalid"
                            class="invalid-feedback">
                            <span *ngIf="Registrationbeautyform.controls.email.hasError('required')">
                                Email can't be empty!!!!!!!
                            </span>
                            <span *ngIf="Registrationbeautyform.controls.email.hasError('pattern')">
                                Please enter a valid email!!!!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="phone" class="form-label">Mobile N.</label>
                        <input class="form-control" name="mobile" formControlName='mobile' value="mobile" required
                            placeholder="phone number" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46)"
                            [ngClass]=" Registrationbeautyform.controls.mobile.invalid && Registrationbeautyform.controls.mobile.dirty ? 'is-invalid' :'valid'"
                            pattern=".{10,10}">
                        <div *ngIf="Registrationbeautyform.controls.mobile.dirty && Registrationbeautyform.controls.mobile.invalid"
                            class="invalid-feedback">
                            <span *ngIf="Registrationbeautyform.controls.mobile.hasError('required')">
                                Phone number required!!!!!
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="form-label lab">Present Address</label>
                <input type="text" name="address" class="form-control input" formControlName='address' required
                    placeholder="Enter Your Address">
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="Country" class="form-label">City</label>
                        <input type="text" name="city" class="form-control" formControlName='city' required
                            placeholder="Enter Your City" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8)
                            ">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="Pincode">Pincode</label>
                        <input formControlName="pincode" name="pincode" pattern=".{6,6}" value="Pincode" class="form-control"
                            name="Pincode" required
                            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46)"
                            [ngClass]=" Registrationbeautyform.controls.pincode.invalid && Registrationbeautyform.controls.pincode.dirty  ? 'is-invalid' :'valid'"
                            pattern=".{6,6}">
                        <div *ngIf="Registrationbeautyform.controls.pincode.dirty && Registrationbeautyform.controls.pincode.invalid"
                            class="invalid-feedback">
                            <span *ngIf="Registrationbeautyform.controls.pincode.hasError('required')">
                               Pin Code Required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
   <div class="form-group">
    <label for="photopath">  </label>
    <input formControlName="photopath" name="photo" type="file"  >
   </div>
   <!-- (change)="onFileChanged($event)" -->



            <div class="form-group" style="text-align:center; padding-top:1rem;">
                <button type="submit" name="submit" class="btn btn-custom " (click)="sendMailTo()" [routerLink]="['/home']">Register
                    <i class="fas fa-sign-in-alt"></i> </button>
            </div>

        </div>
    </form>
</div>
