
  <div class="container-fluid">
    <div class="row text-center">
       <div class="col-12">
           <h1 class="display-4 pt-2" >
            Auditions Round 1
           </h1>
       </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row styling">
        <div class="col-lg-12 ">
    
      <p class="lead">
        The first round is your first impression and a ticket to go ahead in achieving your dreams. We check your ability and talent and the courage and determination to go ahead. This is the easiest round where you just have to prove yourself.  </p>
        </div>
    </div>
</div>

<div class="row center m-0">
  <div class="col-md-4 mb-2">
  <img src="../assets/images/a 1.jpg" alt="" width="90%" height="100%">
  </div>
  <div class="col-md-4 mb-2">
    <img src="../assets/images/a 2.jpg" alt=""  width="90%" height="100%">
  </div>
  <div class="col-md-4 mb-2">
    <img src="../assets/images/a 3.jpg" alt=""  width="90%" height="100%">
  </div>
</div>

<hr class="my-4">

<!--------------------------- about -------------------------->

<div class="container-fluid">
    <div class="row text-center">
       <div class="col-12">
           <h1 class="display-4">
            Auditions Round 2
           </h1>
       </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row styling ">
        <div class="col-lg-12 ">
    
      <p class="lead">
        In second round, we judge you on the basis of your talent and only a few selected ones get the ticket to semi finale. You have to prepare yourself properly for this round as this is not that easy as of round 1. Here, you have to show your flair and compete with others to go ahead.</p>
        </div>
        
    </div>
    <div class="row center m-0">
        <div class="col-md-4 mb-2 ">
        <img src="../assets/images/card1.jpg" alt="" width="90%" height="100%">
        </div>
        <div class="col-md-4 mb-2">
          <img src="../assets/images/card2.jpg" alt=""  width="90%" height="100%">
        </div>
        <div class="col-md-4 mb-2">
          <img src="../assets/images/card3.jpg" alt=""  width="90%" height="100%">
        </div>
      </div>
</div>

<hr class="my-4">

<!----------------------- Auditions ---------------------->

<div class="container-fluid">
    <div class="row text-center">
       <div class="col-12">
           <h1 class="display-4">
            Semi Finals
           </h1>
       </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row styling ">
        
        <div class="col-lg-12 ">
      <p class="lead">
        Just a limited number of kids get to this round, who have talent, skills and abilities in the field for which they are competing. If you perform and compete well then only you will be qualified for the finals. Just 4-5 kids will go ahead.</p>
        </div>
        
    </div>
    <div class="row center m-0">
        <div class="col-md-4 mb-2">
        <img src="../assets/images/semi finale3.jpg" alt="" width="90%" height="100%">
        </div>
        <div class="col-md-4 mb-2">
          <img src="../assets/images/grand finale2.jpg" alt=""  width="90%" height="100%">
        </div>
        <div class="col-md-4 mb-2">
          <img src="../assets/images/grand finale3.jpg" alt=""  width="90%" height="100%">
        </div>
      </div>
</div>

<hr class="my-4">

<!-------------------------------- Grooming Workshop -------------->
<div class="container-fluid">
    <div class="row text-center">
       <div class="col-12">
           <h1 class="display-4">
            Grand Finale
           </h1>
       </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row styling ">
        
        <div class="col-lg-12 ">
      <p class="lead">
        We will stick together till the end. The grand finale will be the final way to showcase all of that you have; best of yours because in this stage, you will be titled as a winner. All your efforts so far will be given colours in this final round. Just 4-5 kids will get a chance to come here in this round and hence, they must be bestest of all so far.</p>
        </div>
        
    </div>
    <div class="row center m-0">
        <div class="col-md-4 mb-2">
        <img src="../assets/images/semi final1.jpg" alt="" width="90%" height="100%">
        </div>
        <div class="col-md-4 mb-2">
          <img src="../assets/images/grand finale1.jpg" alt=""  width="90%" height="100%">
        </div>
        <div class="col-md-4 mb-2">
          <img src="../assets/images/semi finale2.jpg" alt=""  width="90%" height="100%">
        </div>
      </div>
</div>

<hr class="my-4">



<!------------------------------- Photoshoot ------------------>

<!-- <div class="container-fluid">
    <div class="row text-center">
       <div class="col-12">
           <h1 class="display-4">
            Grand Finale
           </h1>
       </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row styling ">
        
        <div class="col-lg-12 ">
      <p class="lead">
        We will stick together till the end. The grand finale will be the final way to showcase all of that which you had learned so long in the workshops with us. We will dress and style you and teach you everything which you should and should not do on the stage and while the ramp walk.
        <br>

        On this day, final Mrs., Ms. and Mr.  India will be crowned and all your efforts will bring colours to your life and to your dreams.</p>
        </div>
        
    </div>
    <div class="row center">
        <div class="col-md-4">
        <img src="../assets/carousel/1.jpg" alt="" width="90%" height="100%">
        </div>
        <div class="col-md-4">
          <img src="../assets/carousel/2.jpeg" alt=""  width="90%" height="100%">
        </div>
        <div class="col-md-4">
          <img src="../assets/carousel/3.jpg" alt=""  width="90%" height="100%">
        </div>
      </div>
</div>

<hr class="my-3"> -->


<!------------------------- Grand Finale ------------->
<!-- <div class="container-fluid">
<div class="row back">
    <div class="col-md-9 ">
       <p class="fonting p-4">
        Let your dreams become a reality.... Hurry up ‘n’ Mesmerize the world !!
       </p>
    </div>
    <div class="col-md-3 pt-4 ">
        <a class="btn img btn-lg " routerLink="/register" role="button">Register Now</a>
    </div>
</div>
</div> -->



<!-------------------- Register Now -------------------->