<div class="container-fluid">



    <form [formGroup]='Registrationform' class="style">
        <div class="card bg-custom mt-3 mb-3">
            <div class="card-heading ">
                <h3 class="card-title m-2 movement " id="move">
                    Be Your Own Kind Of Beautiful
                </h3>
            </div>
        </div>

        <div class="card-body border-custom">





                    <div class="form-group">
                        <label for="name" class="form-label"><b> Category* </b> </label>
                        <select class="custom-select" formControlName="Category">
                            <option value="" disabled>Select One Category</option>
                            <option value="6-8">Petite,6 and under, 7-8 years old</option>
                            <option value="9-12">Junior,9-10 years old, 11-12 years old</option>
                            <option value="13-15">Teen, 13-15 years old</option>
                        </select>
                    </div>


                <!-- <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="name" class="form-label">
                            <b> Marital Status* </b> </label>
                        <select class="custom-select" formControlName="Marital">
                            <option value="" disabled>Select One Category</option>
                            <option value="Married">Married</option>
                            <option value="Widow">Widow</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Separated">Separated</option>
                            <option value="Single-Parent">Single-Parent</option>
                        </select>
                    </div>
                </div> -->


            <br>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="name" class="form-label">First Name</label>
                        <input type="text" class="form-control" formControlName='fname' required
                            placeholder="Enter Your Name" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8)
                           ">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" formControlName='lname' required
                            placeholder="Enter Your Name" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8)
                            ">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="dob"> Date Of Birth</label>
                        <input name="dob" value="dob" formControlName='dob' class="form-control" type="date" required
                            placeholder="">
                        <span *ngIf="Registrationform.controls.dob.hasError('required')" class="invalid-feedback">
                            Filled can't be empty!!!!!!!
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" formControlName="age" value="age" class="form-control" name="age" min="6"
                            max="15" required>
                    </div>

                </div>
            </div>

            <!-- <div class="form-group">
                <label for=height> Height</label>
                <select class="custom-select" formControlName="height" class="form-control" name=height>
                    <option value="" disabled>Your Height (in feet) </option>
                    <option value="5.0">5.0 </option>
                    <option value="5.1">5.1 </option>
                    <option value="5.2">5.2 </option>
                    <option value="5.3">5.3 </option>
                    <option value="5.4">5.4 </option>
                    <option value="5.5 ">5.5 </option>
                    <option value="5.6 ">5.6 </option>
                    <option value="5.7">5.7 </option>
                    <option value="5.8">5.8 </option>
                    <option value="5.9">5.9 </option>
                    <option value="5.10">5.10 </option>
                    <option value="5.11 & above">5.11 & Above </option>
                </select>
            </div> -->







            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="Loginusername" class="form-label">Enter Email Id</label>
                        <input type="text" class="form-control" autocomplete="username" formControlName='email'
                            placeholder="Enter Your Email" required
                            [ngClass]=" Registrationform.controls.email.invalid && Registrationform.controls.email.dirty  ? 'is-invalid' :'valid'">
                        <div *ngIf="Registrationform.controls.email.dirty && Registrationform.controls.email.invalid"
                            class="invalid-feedback">
                            <span *ngIf="Registrationform.controls.email.hasError('required')">
                                Email can't be empty!!!!!!!
                            </span>
                            <span *ngIf="Registrationform.controls.email.hasError('pattern')">
                                Please enter a valid email!!!!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="phone" class="form-label">Mobile N.</label>
                        <input class="form-control" formControlName='mobile' value="mobile" required
                            placeholder="phone number" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46)"
                            [ngClass]=" Registrationform.controls.mobile.invalid && Registrationform.controls.mobile.dirty  ? 'is-invalid' :'valid'"
                            pattern=".{10,10}">
                        <div *ngIf="Registrationform.controls.mobile.dirty && Registrationform.controls.mobile.invalid"
                            class="invalid-feedback">
                            <span *ngIf="Registrationform.controls.mobile.hasError('required')">
                                Phone number required!!!!!
                            </span>
                        </div>
                    </div>
                </div>
            </div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label for="Landline" class="form-label">Landline N.</label>
            <input class="form-control" formControlName='Landline' value="Landline" required
                placeholder="Landline number" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46)"
                [ngClass]="Registrationform.controls.Landline.invalid && Registrationform.controls.Landline.dirty  ? 'is-invalid' :'valid'"
                pattern=".{11,11}">
            <div *ngIf="Registrationform.controls.Landline.dirty && Registrationform.controls.Landline.invalid"
                class="invalid-feedback">
                <span *ngIf="Registrationform.controls.Landline.hasError('required')">
                    Phone number required!!!!!
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label for="name" class="form-label lab">Present Address</label>
            <input type="text" class="form-control input" formControlName='address' required
                placeholder="Enter Your Address">
        </div>
</div>
</div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="Country" class="form-label">City</label>
                        <input type="text" class="form-control" formControlName='City' required
                            placeholder="Enter Your City" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8)
                            ">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="Pincode">Pincode</label>
                        <input formControlName="Pincode" pattern=".{6,6}" value="Pincode" class="form-control"
                            name="Pincode" required
                            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46)"
                            [ngClass]=" Registrationform.controls.Pincode.invalid && Registrationform.controls.Pincode.dirty ? 'is-invalid' :'valid'"
                            pattern=".{6,6}">
                        <div *ngIf="Registrationform.controls.Pincode.dirty && Registrationform.controls.Pincode.invalid"
                            class="invalid-feedback">
                            <span *ngIf="Registrationform.controls.Pincode.hasError('required')">
                               Pin Code Required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
   <div class="form-group">
    <label for="photopath">  </label>
    <input formControlName="photopath" type="file" >
   </div>




            <div class="form-group" style="text-align:center; padding-top:1rem;">
                <button type="submit" class="btn btn-custom " (click)="sendMailTo()" [routerLink]="['/home']">Register
                    <i class="fas fa-sign-in-alt"></i> </button>
            </div>

        </div>
    </form>
</div>
