<div class="container-fluid">
    <div class="row text-center">
       <div class="col-12">
           <h1 class="display-4 pt-2">
           Beauty  Pageant
           </h1>
       </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row styling ">
        
        <div class="col-lg-12 ">
      <p class="lead">
      
Model who represents India should be knowledgeable, kind and confident. She should be the perfect icon, the role model for all the other women. Ms. Or Mrs. India is the representative of their whole community and hence she should possess qualities like gracefulness, elegance, good communication skills, genuine sense, smart and should have strong values.


        <br>
        <br>

        We give worth to the profile of a woman by helping them improving their personality, confidence, beauty, worthiness and communication skills. No path of life or noone can stop you from living your dream at any age. You have the platform, grab the courage and try to get the stage today.
    </p>
        </div>

        <div class="col-md-12">
            <p style="font-size: 2rem;
            text-decoration: underline;">Eligibilty</p>
            <ul>
                <li>
                   <h2>Curvalicious </h2> 
                   Eligibility:
                   <br>
                   All Female of Age 21+
                   <br>
                   Height – 5 feet n up
                   <br>
                   Have to be Plus Size (waist size equal or more than 32 inches)
                   <br>
                   Nationality – Indian
                   
                </li>
                <li>
                  <h2>Divalicious </h2> 
                   Eligibility: 
                   <br>
All Female of Age 21+
<br>
Height – 5 feet n up
<br>
Have to be Regular Size (waist size less than 32 inches)
<br>
Nationality – Indian

                </li>
            
                <!-- <li>
                    Nationality – Indian
                </li> -->
                <!-- <li>
                    Marital Status – Married/Divorced/Separated/Widow/Single Parent 
                </li> -->

            </ul>
        </div>
        
    </div>

    </div>

    <hr class="my-4">