<div class="container-fluid">
    <div class="row text-center">
       <div class="col-12">
           <h1 class="display-4 pt-2">
           Baby Dance Pageant
           </h1>
       </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row styling ">
        
        <div class="col-lg-12 ">
      <p class="lead">
        Kids Competitions focuses on practical aspects of their learning by providing many opportunities related to their growth and development. We assist the parents by organizing competitions related to all sectors that occur in schools, thus helping the kids to prepare for the same in an easy way. 

        <br>
        <br>

        Such a platform provides a rich learning environment for kids to put across and develop skills and become an all-rounder one. There are different types of competitions for different age groups as mentioned below</p>
        </div>

        <div class="col-md-12">
            <p style="font-size: 2rem;
            text-decoration: underline;">Eligibilty</p>
            <ul>
                <li>
                    Age group 6-9-kids
                </li>
                <li>
                    Age group 9-12
                </li>
                <li>
                    Age group 13-15 teens
                </li>
                <!-- <li>
                    Nationality – Indian
                </li> -->
                <!-- <li>
                    Marital Status – Married/Divorced/Separated/Widow/Single Parent 
                </li> -->

            </ul>
        </div>
        
    </div>

    </div>

    <hr class="my-4">

    <!---------------------- part-1 ---------------->

    <!-- <div class="container-fluid">
        <div class="row text-center">
           <div class="col-12">
               <h1 class="display-4">
                1)	About the Contest
               </h1>
           </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row styling ">
            
            <div class="col-lg-12 ">
          <p class="lead">
            Mrs Capital Of India Plus is a beauty pageant celebrating married curvy and full figured women in India.. The mission of Mrs Capital Of India Plus is to encourage body positivity and body diversity. We pride ourselves in being an avenue where ladies may hone in and build their self-confidence, communication skills and modeling abilities. We encourage all our contestants to be pillars of their communities and to give back.We are here to break those stereotypes and give plus size women a platform full of opportunities to live their dreams. And say goodbye to low self-confidence arising from body-shaming.


    
            <br>
            <br>
    
            So, what do we look for in a winner? We want more than just a plus-sized model in a crown. We are looking for women who Genuinely want to make a difference, and have what it takes to be a true role model in the pageant community.</p>
            </div>
    
            <div class="col-md-12">
                <p>Eligibilty</p>
                <ul>
                    <li>
                        All Female of Age 21+ 
                    </li>
                    <li>
                        Height – 5 feet n up
                    </li>
                    <li>
                        Have to be Regular Size (waist size less than 32 inches)
                    </li>
                    <li>
                        Nationality – Indian
                    </li>
                  
    
                </ul>
            </div>
            
        </div>
    
        </div>
    
        <hr class="my-4"> -->

         <!---------------------- part- ---------------->
<!-- 
         <div class="container-fluid">
            <div class="row back">
                <div class="col-md-9 ">
                   <p class="lead p-4">
                    Let your dreams become a reality.... Hurry up ‘n’ Mesmerize the world !!
                   </p>
                </div>
                <div class="col-md-3 pt-4 ">
                    <a class="btn img btn-lg " routerLink="/register" role="button">Register Now</a>
                </div>
            </div>
            </div> -->